
[data-theme='nord'] {
  --color-primary: #FFAFCA;
  --color-accent: #E17FF9;
  --color-blue: #31EAE4;
  --color-yellow: #FAE416;
}

.hero {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/038/942/428/small_2x/ai-generated-a-scoop-of-ice-cream-with-sprinkles-and-confetti-photo.jpeg");
}

.hero h1 {
  text-shadow: 2px 2px 5px palevioletred;
  font-size: 95px;
  color: (white)
}

body{
  background-color:#caf0f8;
}

Footer {
  background-color:#f2ebfb ;
}
.hero {
  background-image:
}
