[data-theme='nord'] {
  --color-primary: #FFAFCA;
  --color-accent: #E17FF9;
  --color-blue: #31EAE4;
  --color-yellow: #FAE416;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #caf0f8;
}

.hero {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/038/942/428/small_2x/ai-generated-a-scoop-of-ice-cream-with-sprinkles-and-confetti-photo.jpeg");
  background-size: cover;
  background-position: center;
}

.hero h1 {
  text-shadow: 2px 2px 5px palevioletred;
  font-size: clamp(3rem, 7vw, 95px);
  color: white;
}

footer {
  background-color: #f2ebfb;
}